<div class="md-gallery">
               {{ 'xo_gallery.css' | asset_url | stylesheet_tag }}
               <style></style>
               <script src="{{ 'xo_gallery.js' | asset_url }}" defer="defer"></script>                        
               <link href="https://apps.xopify.com/modules/md_shopify/md_gallery/assets/css/frontend.css?pfnklk" rel="stylesheet" type="text/css">
               <script src="https://apps.xopify.com/modules/md_shopify/md_gallery/assets/js/init_gallery.js?pfnklk" defer="defer"></script>
			<div class='grid-css grid-css--grid' data-col-lg='3' data-col-md='5' data-col-sm='2' data-col-xs='1' data-gutter-lg='20' data-gutter-md='15' data-gutter-sm='10' data-gutter-xs='5'>
                        <div class='grid__inner'>
                            <div class='grid-sizer'></div>
							<div class="grid-item xo-e-fade-in" data-colspan='1' data-rowspan='1'>
									<div class="grid-item__inner">
										<div class="grid-item__content-wrapper">
                      						<div class="imagebox"  data-effect=''>
                        						<div class="imagebox__media" style='background-image: url({{ 'xo-gallery-19-1537968270.jpg' | asset_url }});'>{{ 'xo-gallery-19-1537968270.jpg' | asset_url | img_tag }}</div>
                        <div class="imagebox__hover">
													<div class="md-tb">
														<div class="md-tb__cell">
															<h3 class="imagebox__title"></h3>
														</div>
													</div>
												</div>
                      </div>											
										</div>
									</div>
								</div>
							<div class="grid-item xo-e-fade-in" data-colspan='1' data-rowspan='1'>
									<div class="grid-item__inner">
										<div class="grid-item__content-wrapper">
                      						<div class="imagebox"  data-effect=''>
                        						<div class="imagebox__media" style='background-image: url({{ 'xo-gallery-19-1537968271.jpeg' | asset_url }});'>{{ 'xo-gallery-19-1537968271.jpeg' | asset_url | img_tag }}</div>
                        <div class="imagebox__hover">
													<div class="md-tb">
														<div class="md-tb__cell">
															<h3 class="imagebox__title"></h3>
														</div>
													</div>
												</div>
                      </div>											
										</div>
									</div>
								</div>
							<div class="grid-item xo-e-fade-in" data-colspan='1' data-rowspan='1'>
									<div class="grid-item__inner">
										<div class="grid-item__content-wrapper">
                      						<div class="imagebox"  data-effect=''>
                        						<div class="imagebox__media" style='background-image: url({{ 'xo-gallery-19-1537968273.jpeg' | asset_url }});'>{{ 'xo-gallery-19-1537968273.jpeg' | asset_url | img_tag }}</div>
                        <div class="imagebox__hover">
													<div class="md-tb">
														<div class="md-tb__cell">
															<h3 class="imagebox__title"></h3>
														</div>
													</div>
												</div>
                      </div>											
										</div>
									</div>
								</div>
</div>
</div>
</div>